/* Reset default styles */
body, html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-pane {
  width: 25%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-button {
  width: 80%;
}

.existing-chats {
  display: flex;
  flex-direction: column;
}

.chat {
  padding: 10px;
  border-bottom: 1px solid #555;
  cursor: pointer;
}

.right-pane {
  width: 75%;
  background-color: #222;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.floating-buttons {
  display: flex;
  justify-content: center; /* Align buttons to center */
  margin-bottom: 20px;
}

.floating-button {
  margin: 0 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
  border: 1px solid #555;
  padding: 10px;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #555;
  position: fixed;
  bottom: 0;
  width: 75%;
  background-color: #333;
  box-sizing: border-box;
}
/* ... previous CSS rules ... */

.icon-button {
  width: 20%; /* Adjust the width of the icon button */
  font-size: 20px;
}

.send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* ... remaining CSS rules ... */
